.appBar {
  width: 100%;
  box-sizing: border-box;
  height: 112px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 2px -2px rgba(160, 160, 160, 0.25);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  z-index: 10;

  .toolbar {
    justify-content: space-between;
    padding: 0 78px;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;

    a {
      text-decoration: none;
    }
  }
}

.logoContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;

  .logoTextBox {
    display: flex;
    flex-direction: column;

    .logoTypography {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: rgba(33, 37, 41, 1);
      text-decoration: none;
      margin: 0;
    }
  }
}

.logoX {
  margin-right: 10px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileBox {
  display: none;
  align-items: center;
}

.burgerMenuSignature {
  font-size: 20px;
  font-weight: 400;
  line-height: 32.5px;
  margin: 0;
  color: rgba(33, 37, 41, 1);
}

@media (max-width: 880px) {
  .appBar {
    .toolbar {
      padding: 0 42px;
      max-width: 1300px;
    }
  }
}

@media (max-width: 768px) {
  .appBar {
    height: 56px;

    .toolbar {
      position: absolute;
      visibility: hidden;
    }
  }

  .mobileBox {
    display: flex;

    & img {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .appBar {
    .navContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 56px;
      left: 0;
      background-color: #FFFFFF;
      box-shadow: 0px 5px 2px -2px rgba(160, 160, 160, 0.25);
      padding: 10px;
      z-index: 100;
      &Hidden {
        display: none;
      }
    }
  }

  .mobileBox {
    display: flex;
  }
}
