.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    .socialMedia {
        display: flex;
        a {
            color: #fff;
            margin-right: 10px;
        }
    }
}
