.logoContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
  
    .logoTextBox {
      display: flex;
      flex-direction: column;
  
      .logoTypography {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-decoration: none;
        margin: 0;
      }

      .light {
        color: rgba(33, 37, 41, 1);
      }

      .dark {
        color: #fff;
      }
    }
  }
  